/*--------START My-WORK-PAGE----------*/
.work-examples-row {
	display: inline-block;
	
}

.work-example {
	float: left;
	position:relative;
	width: 180px;
	height:auto;
	text-align:center;
	margin-right: 30px; 
	display: inline-block;

}

.work-example:first-child {
	margin-left: 20px;
}

.thumbnail-block {
	position: relative;
	}

.projekt-name {  
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	display: inline;
	font-family: 'fira_sansbook';
	font-weight: 12px;
}

.block-shadow {
	position:absolute;
  top:0;
  left:0;
  width: 177px;
	height:66px;
  text-align:center;
  padding-top: 57px;
  background-color: rgba(1, 108, 164, 0.8);
  /*color:#4191bb;*/
  opacity: 0;
  -webkit-transition:all .55s;
  -o-transition:all .55s;
  transition:all .55s;
  border: 3px solid #3ba8c0;
	border-radius: 5px;
}

.thumbnail-block a:hover .block-shadow {
opacity: 1;
}


.work-example a {
	display: inline-block;
	text-decoration: none;
	color: #47adc4;
	font-size: 13px;
	margin-bottom: 12px;
	font-family: 'fira_sanslight_italic';
}

.work-example:hover a {
	text-decoration: underline;
}

.work-example:visited a {
color: red;
}

.work-example p {
	font-family: 'fira_sanslight';
	font-size: 15px;
	line-height: 12pt;
	margin-bottom: 45px;
}

.add-projekt {
	width: 179px;
	height: 122px;
	background-color: #edf8fc;
	border: 3px dashed #3ba8c0;
	border-radius: 5px;
	display: block;
	text-align:center;
	float: left;
}

.add-projekt-img {
	display: block;
	margin-left: 41%;
}

.add-projekt-bg {
	display: block;
	width: 100%;
	height: 100%;
	/*margin:30px auto;*/
	text-decoration: none;
	font-size: 15px;
	font-family: 'fira_sanslight';
	color: #47adc4;
	padding-top: 25px;
}

.preview-img {
	width: 177px;
	height:123px;
	border: 3px solid #3ba8c0;
	border-radius: 5px;
}